<body>
<div class="main">
  <div class="inner">
    <p>*後味を</p>
    <div class="choose">
      <a href="" class="btn btn-define">　探す　</a>
      <a href="" class="btn btn-post">投稿する</a>
    </div>
  </div>
  <div class="discribe">
    <p>
    *後味とは<br>
    ここでは映画鑑賞後にあなたがなりたい気分のことを意味します
    </p>
  </div>
</div>
</body>